/*Content First - Mobile First*/
    /*General Rules*/
        *{
            box-sizing: border-box;
            font-family: 'Raleway', 'segoe ui', 'calibri', sans-serif;
        }
        body,
        h1,
        h2,
        h3,
        .menu{
            margin: 0;
        }
        .logo{
            font-weight: bold;
            text-transform: uppercase;
        }
        .button{
            margin: .5rem;
            border: .1rem solid #eee;
            color:#eee;
            background-color: transparent;
        }
        .button:hover{
            color: #448;
            background-color: #eee;
        }
    /*Navigation*/
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background: 
                #448 
                linear-gradient(#36c, #448);
        }
        nav a{
            display: block;
            padding: .5rem;
            color: #eee;
            text-decoration: none;
        }
        .menu{
            width: 100%;
            max-height: 0;
            padding: 0;
            list-style: none;
            overflow: hidden;
            transition: all .5s ease;
        }
        .menu a:hover{
            background-color: #3338; /*min:00; max:FF*/
        }
        .menu.active{
            max-height: 600px;
        }
/*Small Devices - Smartphones*/

/*Medium Devices - Tablets*/
    @media screen and (min-width: 768px){
    /*Navigation*/
        nav .button{
            display: none;
        }
        nav .menu{
            display: flex;
            width: auto;
            max-height: 600px;
        }
    }
/*Large Devices - Desktop*/

/*ExtraLarge - HD Desktop*/
    @media screen and (min-width:1200px){
    /*Navigation*/
        nav{
            justify-content: space-around;
        }
    }